<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="./css/about_us.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap">
</head>
<body>

<div class="container">
    <div class="mini-rectangle">
        <a href="<%=link%>" id="ind">
            <img src="./images/the collectors club logo.png" alt="Logo" class="logo-image">
            <p class="logo-text">The Collectors Club</p>
        </a>
        <a href="/aboutus?loguser=<%=loguser%>"><button class="about-us-button">About Us</button></a>
        <a href="/rules?loguser=<%=loguser%>"><button class="rules-button">Rules</button></a>
        <div class="button-container">
            <a href="/login"><button class="login-button">Login</button></a>
            <a href="/signup"><button class="signup-button">Sign Up</button></a>
        </div>
    </div>

    <div class="text">
        <h1>About Us</h1>
        <p> The Collectors Club was founded by Ruth Yee, Diego Herrera and Czarina Ang, in February 2024. The founders are students from De La Salle University - Manila, who are taking up CCAPDEV as one of their courses for the current term. They are also BSCS-CSE students who became friends due to their similarities in terms of working styles and interests, hence they teamed up to develop this website. </p>
        <p> The Collectors Club is a forum for toy collectors located in Manila. It was established specifically to allow toy collectors to connect with one another by sharing or posting their collections. Collectors can also raise queries about certain toys to the community. They can also engage with the community by commenting on various postings and trading their toys. The forum's main goal is to unite people who share similar interests in collecting toys or figurines, thus forming a supportive community. </p>
        <p>NPM packages used: dotenv, ejs, express, express-session, moment, moment-timezone, mongoose, multer, passport, passport-local-mongoose, path, and webidl-conversions</p>
    </div>
</div>

</body>
</html>
