<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=title%></title>
<link rel="stylesheet" href="./css/error.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap">
</head>
<body>

<div class="container">
    <div class="mini-rectangle">
        <a href="/" id="ind">
            <img src="./images/the collectors club logo.png" alt="Logo" class="logo-image">
            <p class="logo-text">The Collectors Club</p>
        </a>
    </div>

    <div class="text">
            <h1><%= error%></h1>
            <p>To go to the main page, click <a href="/">here</a>.</p>
            <img src="./images/sad.jpg" alt="Error" class="error-image">
        </a>
    </div>    
</div>

</body>
</html>
