<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap">
</head>
<body>

<div class="container">
    <h1 class="welcome-heading">Welcome to</h1>
    <h1 class="website-name">The Collectors Club!</h1>

    <div id="pic">
        <img src="./images/intro.jpg" alt="Intro Image" class="centered-image">
        <img src="./images/heart.png" alt="Heart Image" class="heart-image">
        <img src="./images/heart.png" alt="Heart Image" class="second-heart">
        <img src="./images/heart.png" alt="Heart Image" class="third-heart">
        <img src="./images/heart.png" alt="Heart Image" class="fourth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="fifth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="sixth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="ninth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="tenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="eleventh-heart">
        <img src="./images/heart.png" alt="Heart Image" class="eleventh-heart">
        <img src="./images/heart.png" alt="Heart Image" class="twelfth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="thirteenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="fourteenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="fifteenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="sixteenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="seventeenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="eighteenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="nineteenth-heart">
        <img src="./images/heart.png" alt="Heart Image" class="twentieth-heart">
    </div>
    
    <div class="mini-rectangle">
    <a href="/" id="ind">
        <img src="./images/the collectors club logo.png" alt="Logo" class="logo-image">
        <p class="logo-text">The Collectors Club</p>
    </a>
    <a href="/aboutus"><button class="about-us-button">About Us</button></a> 
    <a href="/rules"><button class="rules-button">Rules</button></a>
    <div class="button-container">
        <a href="/login"><button class="login-button">Login</button></a>
        <a href="/signup"><button class="signup-button">Sign Up</button></a>
    </div>
</div>

</div>

</body>
</html>
