<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="./css/rules.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap">
</head>
<body>

<div class="container">

    <div class="mini-rectangle">
        <a href="<%=link%>" id="ind">
            <img src="./images/the collectors club logo.png" alt="Logo" class="logo-image">
            <p class="logo-text">The Collectors Club</p>
        </a>
        <a href="/aboutus?loguser=<%=loguser%>"><button class="about-us-button">About Us</button></a>
        <a href="/rules?loguser=<%=loguser%>"><button class="rules-button">Rules</button></a>
        <div class="button-container">
            <a href="/login"><button class="login-button">Login</button></a>
            <a href="/signup"><button class="signup-button">Sign Up</button></a>
        </div>
    </div>

    <div class="rules-section">
        <h1>Rules</h1>
        <h4> 1. Be respectful: Treat others with kindness and respect. Avoid derogatory language, personal attacks, or harassment of any kind. </h4> <br>
        <h4> 2. Clarify your post: State whether you're asking for trade or questions regarding your collection. </h4> <br>
        <h4> 3. Stay On Topic: Keep discussions relevant to the purpose of the group or forum. Avoid derailing threads with unrelated topics. </h4> <br>
        <h4> 4. Be Honest About Item Condition: When listing items for trade or sale, provide accurate descriptions of their condition. Include details about any defects or imperfections to ensure transparency and help fellow members make informed decisions.</h4> <br>
        <h4> 5. No Scamming: Report any fraudulent behaviour immediately. </h4> <br>
        <h4> 6. No Illegal or Harmful Content: Do not share or promote illegal activities, explicit content, or content that could cause harm to others. </h4> <br>
        <h4> 7. Avoid Overpricing: Price items fairly based on their condition, market value, and demand. Avoid overpricing items to maximize profits at the expense of others. </h4> <br>
        <h4> 8. Address Concerns Promptly: If you encounter any issues or concerns during a trade, address them promptly and directly with the other party involved. Communication is key to resolving conflicts and maintaining trust within the community. </h4> <br>
        <h4> 9. Negotiate With Respect: Approach negotiations with a spirit of cooperation and respect for your fellow traders. Be open to reasonable offers and willing to negotiate in good faith to reach mutually beneficial outcomes. </h4> <br>
        <h4> 10. Spread Positivity: Maintain a positive and supportive attitude in all your interactions. Celebrate successful trades, offer encouragement to fellow traders, and provide constructive feedback when appropriate. By fostering a culture of positivity, we create a welcoming community where everyone feels valued and appreciated. </h4>
    </div>
</div>

</body>
</html>
