body {
    background-color: #7EB3DF;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    overflow: hidden; 
}

.container {
    position: relative; 
    width: 50%;
    height: 50%;
    margin: 5% auto; 
    padding: 22% 20% 6% 20%;
    background-color: #FFFFFF; 
    box-shadow: 0 0 1% rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #000000;
}

.website-name {
    color: black; 
    font-size: 350%;
    float: right; 
    text-align: right; 
    margin-top: -10%;
    margin-bottom: 20%; 
    margin-left: 40%;
    margin-right: -30%;
    word-spacing: 1%;
}

.mini-rectangle {
    position: absolute;
    top: 3%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 8%;
    background-color: #AFBDC8; 
    border: 2px solid #000000; 
}

.logo-image {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 1%; 
    height: 50px; 
    width: 50px;
}

.logo-text {
    position: absolute;
    top: 15%; 
    transform: translateY(-50%); 
    left: 70px; 
    font-size: 20px; 
    font-weight: bold; 
}

.text {
    margin-top: -30%;
}

.error-image {
    width: 300px; 
    height: 300px; 
}

#ind{
    color: black;
}

#ind:active{
    color: black;
}