body {
    background-color: #7EB3DF;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
    overflow: hidden; 
}

.container {
    position: relative; 
    width: 50%;
    margin: 5% auto; 
    padding: 22% 20% 14.6% 20%;
    background-color: #FFFFFF; 
    box-shadow: 0 0 1% rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #000000;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 4.6%;
}

.mini-rectangle {
    position: absolute;
    top: 4%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: 50px; 
    background-color: #AFBDC8; 
    border: 2px solid #000000; 
}

.logo-image {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    left: 1%; 
    height: 50px; 
    width: 50px;
}

.logo-text {
    position: absolute;
    top: 15%; 
    transform: translateY(-50%); 
    left: 70px; 
    font-size: 20px; 
    font-weight: bold; 
    color: black;
}

.about-us-button {
    position: absolute;
    top: 3%;
    left: 300px;
    background-color: #F2E897; 
    color: white; 
}

.rules-button {
    position: absolute;
    top: 3%;
    left: 440px;
    background-color: #D897F2; 
    color: white; 
}

.button-container {
    position: absolute;
    top: 50%; 
    left: 85%; 
    transform: translate(-50%, -50%);
    display: flex;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-family: 'Pixelify Sans', sans-serif;
    border-radius: 5px;
    border: 2px solid black; 
}

.profile-button {
    background-color: #EF9BEB; 
    color: white;
}

.logout-button {
    background-color: #65E7CF; 
    color: white;
    white-space: nowrap;
}

.following-section {
    background-color: #F0F0F0;
    padding: 10px;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -90px;
    margin-top: -170px;
    border: 2px solid black;
}

.following-section hr {
    border-top: 2px solid black; 
}

.following-list {
    list-style: none;
    padding: 5px;
}

.following-list li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username {
    display: inline-block;
    margin: 0;
    vertical-align: middle; 
    color: black;
}

.followers-section {
    background-color: #F0F0F0;
    padding: 10px;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 400px;
    margin-top: -249px;
    border: 2px solid black;
}

.followers-section hr {
    border-top: 2px solid black; 
}

.followers-list {
    list-style: none;
    padding: 5px;
}

.followers-list li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
